.Header {
    position: sticky;
    top: 0;
    z-index: 1002;

    header {
        background-color: #454545;
        position: relative;
        top: unset;
        z-index: 950;
    }
}

.inner {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    height: 76px;
}

.itemsWrapper {
    display: flex;
    background: #fff;
    height: 72px;
    width: 100%;
    min-width: 1024px;
    padding: 0 25px;
    margin: 0 auto;
    max-width: 1456px;
}

@media (min-width: 1200px) {
    .itemsWrapper {
        width: calc(100% - 80px);
        padding-left: 0;
        padding-right: 0;
    }
}

.logoWrapper {
    display: flex;
    align-items: center;
    margin-right: 32px;
}

.mainWrapper {
    position: relative;
    width: 100%;
    display: flex;
}

.navigationWrapper {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.searchWrapper {
    flex: 1;
    align-items: center;
    margin-right: 32px;
    width: 100%;
    display: flex;
}

.mainMenuWrapper {
    display: flex;
}
