.HeaderMenuItemPlus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.link {
    color: #04b;
    cursor: pointer;
    transition: color 0.12s ease-out;
    text-decoration: none;
    touch-action: manipulation;
    outline: 0;

    &:focus-visible {
        outline: 2px solid #fce000;
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px #fce000;
    }
}

.linkContent {
    flex-direction: column;
    height: 100%;
    outline: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0;
    background-color: transparent;
    font-size: 12px;
    line-height: 22px;
}

.iconContainer {
    position: relative;
    display: inline-block;
}

.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    transition: color 0.3s;
    color: #222;
    margin-bottom: 4px;
    min-height: 24px;
}

.iconParent {
    position: relative;
    height: 24px;
}

.badge {
    height: 24px;
    width: 58.8px;

    svg {
        transition: fill 0.3s;
        fill: currentcolor;
    }
}

.textContainer {
    line-height: 15px;
    font-size: 12px;
    transition: color 0.3s;
    color: #666;
    white-space: nowrap;
    letter-spacing: 0.25px;
    font-weight: 400;
}
