.ProductSnippetBlock {
    position: relative;
    height: 100%;
}

.wrapper {
    height: 100%;
    border-radius: 12px;
    flex-direction: column;
    display: flex;
    position: relative;
}

.titleContainer {
    display: flex;
    column-gap: 16px;
    align-content: flex-start;
    padding: 24px 32px 0;
}

.breaker {
    flex-grow: 999;
}

.snippets {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    row-gap: 12px;
    column-gap: 16px;
    padding: 0 32px 12px;
}
