.RequireAuthPage {
    display: block;
}

.wrapper {
    align-items: center;
    justify-content: center;
    gap: 18px;
    flex-direction: column;
    margin-top: 212px;
    margin-bottom: 122px;
    display: flex;
    position: relative;
}

.info {
    align-items: center;
    gap: 4px;
    flex-direction: column;
    display: flex;
    position: relative;
    width: 280px;

    h1 {
        line-height: 36px;
        letter-spacing: -0.0175em;
        font-size: 32px;
        font-weight: 700;
        font-family: "YS Text", Helvetica, Arial, sans-serif;
    }

    span {
        white-space: pre-wrap;
        text-align: center;
        line-height: 20px;
        letter-spacing: -0.0025em;
        font-size: 17px;
        font-weight: 400;
        font-family: "YS Text", Helvetica, Arial, sans-serif;
    }
}

.RequireAuthPage a[role="button"] {
    height: 48px;
    padding: 0 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;

    --ds-button-bg-primary: var(--control-primary);
    --ds-button-bg-primary-hover: var(--control-primary-hover);
    --ds-button-bg-primary-pressed: var(--control-primary-pressed);

    background-color: var(--ds-button-bg-primary);
    appearance: none;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    color: var(--text-primary);
    transition: all 0.12s ease-out;
    cursor: pointer;

    &:hover:not(:disabled) {
        background-color: var(--ds-button-bg-primary-hover);
    }

    &:active:not(:disabled) {
        background-color: var(--ds-button-bg-primary-pressed);
    }

    &:focus-visible:not(:active):not(:disabled) {
        box-shadow: var(--shadow-a11y);
    }

    span {
        line-height: 18px;
        letter-spacing: -0.0025em;
        font-size: 17px;
        color: var(--text-primary);
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: box;
        font-weight: 500;
        font-family: "YS Text", Helvetica, Arial, sans-serif;
    }
}
