.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    transition: opacity 0.3s ease-out;
    background: #000;
    opacity: 0.6;
}

.content {
    position: absolute;
    cursor: pointer;
    z-index: 1051;
    background: #fff;
    box-shadow: 0 5px 46px rgb(0 0 0 / 12%), 0 7px 15px rgb(0 0 0 / 12%);
    border-radius: 8px;
    max-height: calc(100% - 80px);
    overflow: auto;
}
