.CategoryMenuAddressItem {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 12px;
}

.content {
    height: 100%;
    overflow: hidden;
    max-width: 322px;
    min-width: 175px;
}

.button {
    height: 48px;
    top: -2px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    &:focus-visible::after {
        position: absolute;
        right: 0;
        bottom: 2px;
        left: 0;
        content: "";
        height: 3px;
        background: #fce000;
    }

    svg {
        flex: 0 0 auto;
        color: #222;
        height: 20px;
        width: 20px;
        position: relative;
        margin-right: 6px;
        transition: color 0.3s;

        :hover > & {
            color: #ec0000;
        }
    }
}

.title {
    display: inline-block;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    max-width: 298px;

    div {
        display: flex;

        span {
            overflow: hidden;
            text-overflow: ellipsis;
            transition: color 0.3s;
            font-weight: 400;
            color: #212121;
            font-style: normal;
            font-stretch: normal;

            :hover > & {
                color: #ec0000;
            }
        }
    }
}
