.app_dark_theme {
    --dark-bg-color: #090f11;
    --bg-color: #0c1214;
    --modal-bg-color: #151c1f;
    --text-color: #dbdbdb;
    --hint-color: #555;
    --cancel-color: #d95757;
    --save-color: #6cd98b;
    --icon-color: #74a2b2;
    --accent-color: #5ed3f3;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #1212a1;

    // card
    --card-bg: #0d0d6b;

    // listbox
    --listbox-bg: #0d0d6b;
}
