.HeaderMenu {
    align-items: center;
    min-width: 230px;
    font-size: 14px;
    color: #222;
    user-select: none;
    transition: opacity 0.2s;
    display: flex;

    @media screen and (min-width: 1250px) {
        min-width: 370px;
    }

    ul {
        display: flex;
        align-items: center;

        li {
            display: block;

            &:last-child {
                display: flex;
                align-items: center;
                min-width: 48px;
            }

            &:not(:last-child) {
                padding: 0;

                &:not(:first-child) {
                    height: 100%;
                }
            }

            @media (min-width: 1250px) {
                &:not(:last-child) {
                    width: 65px;
                    margin-right: 12px;
                }
            }
        }
    }
}
