.RecomRoll {
    position: relative;
}

.wrapper {
    max-width: 1440px;
    margin: auto;
    flex-direction: column;
    display: flex;
    position: relative;
}

.container {
    position: relative;
}
